{{! The big featured header }}
<header id="header">
    <nav class="header-nav" {{#if @blog.cover}}style="background-image:url({{@blog.cover}}){{/if}}">

      <div class="blog-title"><a href="">{{@blog.title}}</a></div>

      <!--Change this to customize the navigation-->
      <div class="taglist-wrapper clearfix">
        <ul id="taglist" class="taglist">
            <li><a href="">Home</a></li>
            <li><a href="/tag/java">Java</a></li>
            <li><a href="/tag/docker">Docker</a></li>
            <li><a href="/tag/aws">AWS</a></li>
            <li><a href="/tag/javascript">Javascript</a></li>
        </ul>
      </div>
    </nav>

</header>
